@use "../../styles/variables";

.dot {
  $basicBorderRadius: 4%;

  position: absolute;
  cursor: default;

  &.dragging {
    opacity: 0.99;
    background-color: transparent;
  }

  &.hardSelected {
    background-color: blue;
    // &::after {
    //   content: "";
    //   width: 12px;
    //   height: 12px;
    //   position: absolute;
    //   background-color: white;
    //   border-radius: 100%;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
  }

  &:has(.curve) {
    clip-path: url(#myCurve);

    &:has(.rot90) {
      clip-path: url(#myCurve90);
    }

    &:has(.rot180) {
      clip-path: url(#myCurve180);
    }

    &:has(.rot270) {
      clip-path: url(#myCurve270);
    }
  }

  &:has(.bigCurve) {
    clip-path: url(#myBigCurve);

    &:has(.rot90) {
      clip-path: url(#myBigCurve90);
    }

    &:has(.rot180) {
      clip-path: url(#myBigCurve180);
    }

    &:has(.rot270) {
      clip-path: url(#myBigCurve270);
    }
  }

  .shape {
    width: 100%;
    height: 100%;
    border-radius: $basicBorderRadius;

    &.rot90 {
      rotate: 90deg;
    }

    &.rot180 {
      rotate: 180deg;
    }

    &.rot270 {
      rotate: 270deg;
    }

    &.square {
      border-radius: $basicBorderRadius $basicBorderRadius $basicBorderRadius
        $basicBorderRadius;
    }

    &.square2x1 {
      transform-origin: 50% 24.5%;
    }

    &.square4x1 {
      transform-origin: 50% 12.125%;
    }

    &.corner {
      border-radius: 100% $basicBorderRadius $basicBorderRadius
        $basicBorderRadius;
    }

    &.u {
      border-radius: 100% 100% $basicBorderRadius $basicBorderRadius;
    }

    &.circle {
      border-radius: 100%;
    }

    &.curve {
      clip-path: url(#myCurve);
    }

    &.bigCurve {
      clip-path: url(#myBigCurve);
    }
  }
}
