@use "../../styles/variables";

.dot {
  $basicBorderRadius: 4px;
  width: fit-content;
  height: fit-content;

  position: absolute;
  cursor: default;

  &.dragging {
    opacity: 0.99;
    background-color: transparent;
  }

  &.hardSelected > .shape {
    $opacity: 0.25;
    background-image: linear-gradient(
      45deg,
      rgba(variables.$color_fg, $opacity) 25%,
      rgba(variables.$color_bg, $opacity) 25%,
      rgba(variables.$color_bg, $opacity) 50%,
      rgba(variables.$color_fg, $opacity) 50%,
      rgba(variables.$color_fg, $opacity) 75%,
      rgba(variables.$color_bg, $opacity) 75%
    ) !important;
    background-size: 25px 25px;
    background-position: center;
    background-repeat: repeat;
  }

  .shape {
    width: 100%;
    height: 100%;
    border-radius: $basicBorderRadius;

    // rotations are not working for 2x1 and 4x1 because we rotate the shape, but not the wrapper!
    &.rot90 {
      rotate: 90deg;
    }

    &.rot180 {
      rotate: 180deg;
    }

    &.rot270 {
      rotate: 270deg;
    }

    z-index: 1;
    &.curve,
    &.bigCurve {
      z-index: 0;
    }
  }
}
